@import '../../global.scss';

.custom-button {
  outline: 1px solid $borderColor;
  color: $borderColor;
  height: 50px;
  width: 47%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:hover {
    color: $lightColor;
    outline: 2px solid rgb(231, 231, 231);
    background-color: gray;
  }
}