.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  #back-home-button {
    align-self: center;
    width: 150px;
  }
}